---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'LiquidOS - An Agentic Era Operating System.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero image={{ src: '~/assets/images/Cover.png', alt: 'LiquidOS Hero', height: '700px', width: '700px' }}>
    <Fragment slot="title"
      ><span
        class="font-semibold bg-gradient-to-r text-transparent bg-clip-text"
        style="background-image: linear-gradient(to right, #2F9BFF, #FD7C8E);"
      >
        LiquidOS</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold bg-gradient-to-r from-[#2F9BFF] to-[#FD7C8E] text-transparent bg-clip-text">
          LiquidOS
        </span>
        is a next-generation operating system, purpose-built for the
        <span class="font-semibold">Agentic Era</span>.
      </span>
      <br />
      <span>
        Unlike traditional OS environments, it is designed to be
        <span class="font-semibold">adaptive, intelligent, and agent-driven</span>, seamlessly integrating AI into your
        daily workflow. Our mission is to
        <span class="font-semibold">redefine human-computer interaction</span>, transforming AI from a mere tool into an
        <span class="font-semibold">intuitive assistant</span> that evolves with you.
      </span>
      <br />
    </Fragment>
  </Hero>
</Layout>
