---
import { Image } from 'astro:assets';
import { SITE } from 'astrowind:config';
import Cover from '~/assets/images/Union.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <div class="flex items-center space-x-2">
    <img src={Cover.src} height="30" width="30" alt="LiquidOS Logo" />
    <span class="font-semibold bg-gradient-to-r from-[#2F9BFF] to-[#FD7C8E] text-transparent bg-clip-text">
      LiquidOS
    </span>
  </div>
</span>
